In [1]:
tuple=(1,2,3,4)
print(tuple)

(1, 2, 3, 4)

In [2]:
print(tuple)

(1, 2, 3, 4)

In [5]:
tuple=2,4,6,8,10
print(tuple)

(2, 4, 6, 8, 10)

In [6]:
print(len(tuple))
print(min(tuple))
print(max(tuple))

5
2
10

In [7]:
t=(2,4,1.23,0.38,0.234,'Hello')
for i in t:
    print i

2
4
1.23
0.38
0.234
Hello

In [20]:
num=2,4,33,5,6,7,44,56,7,9,36,90,12,89
sum=0
for i in num:
    sum=i+sum
print sum

400

In [21]:
list=[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [61]:
list=range(25)
list

In [23]:
list[10]

10

In [25]:
#Mutable
a=[1,2,3,4,5]
a[3]=27
a

[1, 2, 3, 27, 5]

In [26]:
a.sort()
a

[1, 2, 3, 5, 27]

In [27]:
a.append(115)
a

[1, 2, 3, 5, 27, 115]

In [28]:
#inser the value
a.insert(1,116)
a

[1, 116, 2, 3, 5, 27, 115]

In [30]:
a.extend([1,2,3,4,5])
a

[1, 116, 2, 3, 5, 27, 115, 1, 2, 3, 4, 5]

In [67]:
#dupicate value
list=[1,2,3,3,4,5]
list

[1, 2, 3, 3, 4, 5]

In [66]:
a=a+[2,4,1.234,0.6234,'Hello']
a

[671, 895, 923, 871, 899, 453, 2, 4, 1.234, 0.6234, 'Hello']

In [42]:
#Slicing -Inclusion and Exclusion
squares=[10,20,30,40,50,60,70,80,99,100]
squares[0:6]

[10, 20, 30, 40, 50, 60]

In [43]:
a[:5]

[10, 20, 30, 40, 50]

In [44]:
a[3:8]

[40, 50]

In [45]:
a[-1]

50

In [46]:
a[-5:-1]

[10, 20, 30, 40]

In [58]:
print a
a[1:3]=['2','3']
a

[]

['2', '3']

In [57]:
del a[-2:]
a

[]

In [1]:
#Dictionaries
capitals={"India":"New Delhi","France":"Paris","Rome":"Italy","UK":"London"}
capitals

{'France': 'Paris', 'India': 'New Delhi', 'Rome': 'Italy', 'UK': 'London'}

In [2]:
capitals['India']

'New Delhi'

In [6]:
capitals['spain']="Madrid"
capitals

{'France': 'Paris',
 'India': 'New Delhi',
 'Rome': 'Italy',
 'UK': 'London',
 'spain': 'Madrid'}

In [10]:
morecapitals={'Malaysia':['kaula Lumpur','putrajaya'],"Germany":"Berlin","UK":"London"}

capitals.update(morecapitals)
capitals

{'France': 'Paris',
 'Germany': 'Berlin',
 'India': 'New Delhi',
 'Malaysia': ['kaula Lumpur', 'putrajaya'],
 'Rome': 'Italy',
 'UK': 'London',
 'spain': 'Madrid'}

In [11]:
#loop
for key in capitals:
    print(key,capitals[key])

('India', 'New Delhi')
('France', 'Paris')
('Malaysia', ['kaula Lumpur', 'putrajaya'])
('Rome', 'Italy')
('Germany', 'Berlin')
('UK', 'London')
('spain', 'Madrid')

In [24]:
for key in capitals.keys():
    print(key)

India
France
Malaysia
Rome
Germany
UK
spain

In [14]:
for value in capitals.values():
    print(value)

New Delhi
Paris
['kaula Lumpur', 'putrajaya']
Italy
Berlin
London
Madrid

In [15]:
for key,value in capitals.items():
    print(key,value)

('India', 'New Delhi')
('France', 'Paris')
('Malaysia', ['kaula Lumpur', 'putrajaya'])
('Rome', 'Italy')
('Germany', 'Berlin')
('UK', 'London')
('spain', 'Madrid')

In [16]:
#dict -constructor
details=dict(Name='joejoel',Age=27,Address='Gandhi Nagar',salary=20000)
details

{'Address': 'Gandhi Nagar', 'Age': 27, 'Name': 'joejoel', 'salary': 20000}

In [17]:
details['Name']

'joejoel'

In [18]:
details['salary']

20000

In [19]:
details['emp_id']

KeyError: 'emp_id'

In [21]:
details.get('emp_id',115)

115

In [27]:
#Mutable
capitals={'India':'Delhi','France':'Paris','Rome':'Italy','Uk':'London'}

print capitals
del capitals['Uk']
capitals

{'Rome': 'Italy', 'India': 'Delhi', 'Uk': 'London', 'France': 'Paris'}

{'France': 'Paris', 'India': 'Delhi', 'Rome': 'Italy'}

In [28]:
capitals['India']="New Delhi"
capitals

{'France': 'Paris', 'India': 'New Delhi', 'Rome': 'Italy'}

In [29]:
stud={'joejoel':59,'Rajesh':78,'charles':87}
stud

{'Rajesh': 78, 'charles': 87, 'joejoel': 59}

In [32]:
for key in stud:
    print(stud,stud[key])

({'charles': 87, 'joejoel': 59, 'Rajesh': 78}, 87)
({'charles': 87, 'joejoel': 59, 'Rajesh': 78}, 59)
({'charles': 87, 'joejoel': 59, 'Rajesh': 78}, 78)

In [33]:
studentDetails={'joejoel':[98,95,86],'Rajesh':[98,78,45]}
studentDetails

{'Rajesh': [98, 78, 45], 'joejoel': [98, 95, 86]}

In [34]:
for key in studentDetails:
    print(key,studentDetails[key])

('joejoel', [98, 95, 86])
('Rajesh', [98, 78, 45])

In [39]:
for key,marks in studentDetails.items():
    print(key,sum(marks))

('joejoel', 279)
('Rajesh', 221)

In [45]:
a=[671,895,923,871,899,453]
b=[970,921,869,821,673,769,922,982]
min(a+b)

453

In [49]:
#generator
#they have lasy bulit only on demand
#values are presisted
def my_range(n):
    num=0
    while num<n:
        yield num
        num+=1

In [50]:
x=my_range(5)
x

In [51]:
for item in x:
    print item

0
1
2
3
4

In [52]:
for item in x:
    print item

In [57]:
#set 
A=set([1,2,3,4,5,5])
B={2,4,6,8,10,2}
A,B

({1, 2, 3, 4, 5}, {2, 4, 6, 8, 10})

In [58]:
print A
print (B)

set([1, 2, 3, 4, 5])
set([8, 2, 4, 10, 6])

In [59]:
print ("A-B --->"+str(A-B))
print("A&B--->"+str(A&B))
print("A|B--->"+str(A|B))
print("A^B--->"+str(A^B))

A-B --->set([1, 3, 5])
A&B--->set([2, 4])
A|B--->set([1, 2, 3, 4, 5, 6, 8, 10])
A^B--->set([1, 3, 5, 6, 8, 10])

In [70]:
list=set([1,2,2,3,4,4,5,6,7,7,8,8,9,2,4,10])
#list.sort()
list

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}